/* ----------------------------------------------------------
    Setting Color
   ----------------------------------------------------------*/
   :root{
    --black: #000000;
    --black-light:#242424;    
    --prime1: #F1744F;
    --prime2: #26428E;
    --prime3: #5CB55D;
    --prime4: #FFAA00;
}

/* ----------------------------------------------------------
    Custom Property
----------------------------------------------------------*/

/* Scroll Bar Custom */
/* ::-webkit-scrollbar {
width: 5px !important;   
}

::-webkit-scrollbar-track {
background: var(--black-light); 
margin: 2rem 0 2rem 0 !important;
border-radius: 10px;
}

::-webkit-scrollbar-thumb {
background: var(--gray);
border-radius: 10px;
} */

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
a,
dl,
dt,
dd,
ol,
ul,
li {
margin: 0 !important;
padding: 0 !important;

}

ul,
ol {
list-style: none !important;
}
